<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css" >
    <link rel="icon" type="images/png" href="../static/image/logo.png">

</head>
<body>



{% extends "base.html" %} {% block title %} Home {% endblock %} 



<div class="container">
    <img src="../static/image/background.jpg"> 
    <div class="text">
      <h1>Fleurs</h1>
</div>


<p>Voici la liste de nos produits</p>
</body>
</html>







